---
import { RadixTheme } from '@/layouts/radix-theme'
import '@/styles/reset.css'
import '@radix-ui/themes/styles.css'
import { ViewTransitions } from 'astro:transitions'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Kia Storm</title>
        <ViewTransitions />
    </head>
    <body class="dark-theme">
        <RadixTheme client:load>
            <slot />
        </RadixTheme>
    </body>
</html>
